a:2:{i:0;a:1:{s:3:"con";a:1:{i:0;a:2:{s:3:"num";s:1:"2";s:4:"cons";a:2:{i:0;a:5:{s:4:"name";s:19:"dev:10.4.2.35:11211";s:4:"host";s:9:"10.4.2.35";s:4:"port";s:5:"11211";s:6:"ispcon";s:1:"0";s:7:"timeout";s:1:"1";}i:1;a:5:{s:4:"name";s:19:"dev:10.4.2.36:11211";s:4:"host";s:9:"10.4.2.36";s:4:"port";s:5:"11211";s:6:"ispcon";s:1:"0";s:7:"timeout";s:1:"1";}}}}}i:1;a:1:{s:4:"conp";a:1:{i:0;a:1:{s:3:"num";s:1:"0";}}}}